<a href="https://colab.research.google.com/github/dalshaikh/Function-Example-in-python/blob/main/function_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# create function
def calculation (num1,num2,operator):

  if (operator == '+'):
    add = num1 + num2
    print ("the summation =", add)
  elif (operator == '-'):
    sub = num1- num2
    print("The sub = ", sub)
  elif (operator == '*'):
    multi = num1 * num2
    print("The multi = ", multi) 
  elif (operator == '/'):
    div = num1 / num2
    print("the divition (float) = ", div) 
  elif (operator == '//'):
    div2 = num1 // num2
    print("The divition (int) = ", div2) 
  elif (operator == '%'):
    mod = num1 % num2 
    print("The mod = ", mod)
  else :
   print("the operation not found") 
   # OR
   #pass (DO NO THING)

#### CALL FUNCTION ####
calculation(5,5,'+')    
calculation(10,5,'-')    
calculation(10,5,'*')    
calculation(10,5,'/')    
calculation(10,5,'//')    
calculation(10,5,'%')
calculation(10,5,'$')

the summation = 10
The sub =  5
The multi =  50
the divition (float) =  2.0
The divition (int) =  2
The mod =  0
the operation not found

In [2]:
###############FUNCTION RETURN MORE THAN ONE VALUE ##################
def calculation (num1,num2):
    add = num1 + num2
    sub = num1- num2
    multi = num1 * num2
    div = num1 / num2
    div2 = num1 // num2
    mod = num1 % num2 
    return add , sub , multi , div , div2 , mod 
### CALL FUNCTION### 
a ,b,c,d,e,f = calculation(5,5) 
print ("the summation =", a)
print("The sub = ", b)
print("The multi = ", c)
print("The div = ", d)
print("The div2 = ", e)
print("The mod = ", f)

the summation = 10
The sub =  0
The multi =  25
The div =  1.0
The div2 =  1
The mod =  0

In [3]:
#################### Function to do Cumulative sum ####################
print("Printing current and previous number sum in a range(10)")
for i in range(0,10):
  if i==0:
    sum1=0
    sum1=sum1+i
    print("Current Number ",i , "Previous Number ", i,"  Sum:  " , sum1) 
  else:
    sum=0
    sum = i+(i-1)
    print("Current Number ",i , "Previous Number ", i-1,"  Sum:  " , sum)

Printing current and previous number sum in a range(10)
Current Number  0 Previous Number  0   Sum:   0
Current Number  1 Previous Number  0   Sum:   1
Current Number  2 Previous Number  1   Sum:   3
Current Number  3 Previous Number  2   Sum:   5
Current Number  4 Previous Number  3   Sum:   7
Current Number  5 Previous Number  4   Sum:   9
Current Number  6 Previous Number  5   Sum:   11
Current Number  7 Previous Number  6   Sum:   13
Current Number  8 Previous Number  7   Sum:   15
Current Number  9 Previous Number  8   Sum:   17

In [4]:
#######  Print characters from a string that are present at an even index number  ##########
print("Orginal String is  pynative")
name="pynative"
for i in range (len(name)):
  if (i % 2 == 0):
    print("even index =  ", name[i])
  else:
    pass

Orginal String is  pynative
even index =   p
even index =   n
even index =   t
even index =   v

In [6]:
# Function to Remove number of charactor:
def remove_char(name , num1):
  print ("The Oreginal Name Is ", name)
  print("The New Name Is " , name[num1:])
 
  #print("The New Name Is " , name[num1:len(name)])

remove_char("pynative",4)
print("****************************************")
remove_char("pynative",2)

The Oreginal Name Is  pynative
The New Name Is  tive
****************************************
The Oreginal Name Is  pynative
The New Name Is  native

In [7]:
# function to check if list 1 same list 2
def same_list(number_list):
  print (number_list)
  first_element=number_list[0]
  second_element=number_list[len(number_list)-1]
  #  second_element=number_list[-1]

  if (first_element== second_element):
    print ("same element")
  else:
   print ("different element")
same_list([10,20,10])
same_list([10,20,30])

[10, 20, 10]
same element
[10, 20, 30]
different element

In [ ]:
# Object oriented programing
class fruit:
  def __init__(self,name,color):
    self.name=name
    self.color=color
  def show(self):
    print("fruit name is " ,self.name , "fruit color is  ",self.color)
obj=fruit("apple", "red")
obj.show();

fruit name is  apple fruit color is   red

In [10]:
# # Object oriented programing

class student :
  def __init__(self,id , name, gpa):
    self.id=id
    self.name=name
    self.gpa=gpa
  def display(self):
    print ("studnt id = " , self.id ,"student name is " , self.name ,"student gpa = " , self.gpa)
obj=student(978545512,"doha" , 3.14)
obj.display();

studnt id =  978545512 student name is  doha student gpa =  3.14